@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans:
    var(--font-inter), var(--font-misans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    var(--font-jetbrains-mono), var(--font-noto-sans-sc), ui-monospace,
    SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  fill: currentColor;
  overflow: hidden;
}

@utility pause-animation {
  animation-play-state: paused;
}

@import "@arco-design/web-react/dist/css/arco.css";
